// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/* ------ Header Jumbotron Styling ------- */

.jumbotron{
	padding: 0px;
	background-color: white;
}

.jumbotron > .container{
	height: 300px;
    overflow: hidden;
    /*width: 100%;*/
    /*padding: 0px;*/
}

#header-text{
    position: relative;
    top: 46%;
    left: 10%;
    z-index: 100;
}

#jumbo-header-img{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
